# Temporary files.
.*
!.gitignore
!.clang-format

# Build results.
/build
compile_flags.txt
compile_commands.json

# Profiling results
/profile
*.profdata
*.profraw
perf.data
perf.data.old
cachegrind.out.*
callgrind.out.*
